<!-- Header -->
<header>
  <div class="main-head">
    <div class="container">
      <nav class="navbar">
        <div class="col-lg-4 col-sm-4 col-12">
          <a href="" class="nav-logo">
            <img src="../../assets/images/header-logo.png" alt="TMDB-logo" />
          </a>
        </div>
        <div class="col-lg-8 col-sm-4 col-12">
          <ul class="navbar-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/movies">Movies</a></li>
            <li><a routerLink="/tvshows">Tv Shows</a></li>
            <li><a routerLink="/genres">Genres</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- Header -->
