/* Movies List Styles */
.banner-list-movies {
  padding: 10px 0px 20px 0px;
  background: #000000;
}

.movie-card-body {
  background: #3c3940;
  margin: 0px 0px 30px 0px;
  border-radius: 5px;
}

.section.card {
  width: 20%;
}
